<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>You is stuck</title>
  <meta name="description" content="Thw Worldpay stuck page">
  <meta name="author" content="Defra">
</head>

<body>
  <main>
    <div id="message">
      <h1>Stuck!</h1>
      <p>Looks like your registration has gotten stuck whilst paying for it using Worldpay.</p>
      <p>We hope that's what you expected to happen.</p>
      <p>Regards, the Ruby Services Team</p>
    </div>
    <% if @response %>
      <div id="debug">
        <h2>Debug</h2>
        <ul>
          <li><strong>Supplied URL</strong> <code><%= @response.supplied_url %></code></li>
          <li><strong>Separator</strong> <code><%= @response.separator %></code></li>
          <li><strong>Order key</strong> <code><%= @response.order_key %></code></li>
          <li><strong>Mac</strong> <code><%= @response.mac %></code></li>
          <li><strong>Value</strong> <code><%= @response.value %></code></li>
          <li><strong>Status</strong> <code><%= @response.status %></code></li>
          <li><strong>Reference</strong> <code><%= @response.reference %></code></li>
          <li><strong>Url</strong> <code><%= @response.url %></code></li>
        </ul>
      </div>
    <% end %>
  </main>
</body>
</html>
